@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
/* 
body {
    color: green;
} */ 

/* html {
    font-size: 5px;
} */

#titulo {
    color:green
}

h1 {
    color: red;
}

.texto {
    color: blue
}

p {color: crimson}


p.otraClase {
    color: orange;
    font-size: smaller;
}

p.texto {
    font-size: xx-large;
}

div p {
    color: aqua;
}

div h2 {
    color:brown;
}

div h2,
h3 {
    color: chartreuse
}

/* Propiedades del color */

.color {
    /* color:red */
    /* color:#f00; */
    /* color: #ff0000; */
    /* color: rgb(255,0,0); */
    color: #bbb
}


/* Propiedades de borde */

.border {
    width: 350px;
    /* border: 15px red outset; */

    border-width: 15px;
    border-color: red;
    border-style: ridge;

    border-radius: 15px;
}

/* Propiedades de medida */

.medidasAbsolutas,
.medidasRelativas_1,
.medidasRelativas_2 {
    width: 350px;
}

.medidasAbsolutas {
    border: 10px blue solid;
}

.medidasRelativas_1 {
    border: 2em tomato solid
}

.medidasRelativas_2 {
        font-size: 10px;
        border: 2em tomato solid
}

.medidasRelativas_3 {
    font-size: 50px;
    border: 1rem green solid
}

/* Propiedades de Background */

#fondo {
    font-weight: bold;
    font-size: x-large;
    height: 400px;
/* 
    background-color: rgba(255,0,0,.5);

    background-image: url(../img/logo_vsc.png);
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center; */

    background: #f00 url(../img/logo_vsc.png) no-repeat center center/ 200px 200px;
}

/* Margen */

.margen {
    background-color:greenyellow;
    margin: 15px 55px 50px 25px;

    padding: 30px 25px 20px 50px;

    border: 2px black solid;
    height: 100px;
    width: 20px;
    overflow: scroll;

    outline: 2px red solid;
}

/* Box Model */

.contenedor-boxModel {
    display: flex;

    gap: 20px;

    margin: 40px;
}

.span1-boxModel,
.span2-boxModel {
    width: 150px;
    padding: 20px;
    border: 5px solid black;
    font-weight: bold;
    color: white;
}

.span1-boxModel {
    background-color: crimson;
    box-sizing: content-box;
}

.span2-boxModel {
    background-color: royalblue;
    box-sizing: border-box;
}

/* Texto */

.textProp_1 {
    text-align: center;
    border: 1px solid black;
}

.textProp_2 {
    text-align: justify;
    text-decoration: underline;
    /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif */
      font-family: "Whisper", cursive;
    font-size: xx-large;


}

/* Propiedades de los links */

#anchor {
    text-decoration: none;
}

a:link {
    color: brown;
}

a:visited {
    color: gray
}

a:hover {
    color: blue;
}

a:active {
    color: red;
    font-size: 30px;
}

/* Propiedades de las tablas */

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: solid 1px #666;
}

th {
    background-color: brown;
    color: white;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

tr:hover {
    background-color: #666;
    color:white;
    cursor: pointer;

}

tr:nth-child(even) {
    background-color: blueviolet;
}

tr:nth-child(4) {
    background-color: red;
}

tr:nth-child(3) {
    background-color: yellow;
}

/* Propiedades de Display */

.div_1 {
    background-color: chocolate;
}

.div_2 {
    background-color: yellow;
}

.span_1 {
    background-color: aqua;
}

.span_2 {
    background-color: magenta;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.span_3 {
    display: block;
    background-color: red;
    max-width: 600px;
}

.inline-block {
    display: inline-block;
    background-color: #555;
    height: 50px;
    width: 500px;
    margin-top: 10px;
    text-align: center;
}


/* position */

#position {
    background-color: black;
    color: white;
    width: 300px;
    left: 20px;
    top: 45px;
    position: sticky;
}

/* Propiedad float */

.float {
    height: 300px;
}

.img-left {
    height: 250px;
}

.left {
    float: left;
}

.right {
    float: right;
    width: 200px;
    text-align: justify;
}

#p-float {
    color: coral;
}

#p-float::first-letter {
    color: red;
    font-size: 2rem;
}

/* Propiedad center */

.center {
    border: solid black 1px;
    width: 400px;
    margin: 0px auto;
    text-align: center;
}

#p-centrado::before {
    content: "✨";
}

#p-centrado::after {
    content: "💩";
}

/* Propiedades de listas */

nav {}

#h3Navbar {}

ul li {}

/* Animaciones */

#animacion {}

/* Transiciones */

#suelo {}

#macana {}

#suelo:hover #macana {}


/* GRID */

#contenedor-grid {}

#header {}

#menu {}

#submenu {}

#main {}

#image {}

#extra {}

#banner {}

img {}

#btnVolver {}

#btnVolver:hover {}

#btnVolver:active {}

#btnVolver a {}

#aBtn {}

/* Responsive */